<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1 align='center'>Welcome to Authentication of Express js</h1><br>
    <div class="form">
        <form method='post' action='/signin'>
            Username : <input type="text" name='username' placeholder='Username' required>
            Password : <input type="password" name='password' placeholder="Password" required>
            <input type="submit" value="Sign In"> 
        </form>
        
    </div>
</body>
</html>